<template>
    <div id="header">
        <h3>{{ appName }}</h3>
        <p v-if="name">Hello, {{ name }}</p>
    </div>
</template>


<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Header',
  props: {
    appName: String
  },
  computed: {
      ...mapGetters( {
          name: 'name'
      })
  }
}
</script>

<style scoped>
div#header {
    width: auto;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
}
</style>