<template>
  <div class="hello">
    <p>Your name is {{ name }}</p>

    <p>Change your name:<br>
    <input type="text" name="name" v-model="inputName"></p>
    <p><button type="button" @click="changeName">Update</button></p>
    
  </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex'
import * as types from '../mutation-types'

export default {
  name: 'HelloWorld',

  data () {
    return {
      inputName: null
    }
  },

  methods: {
    changeName () {
      /* 
       * Do this for simple attribute changes
       */
      //this.$store.commit(types.CHANGE_NAME, this.inputName)
      /* OR this - mapping the mutations to a local method */
      this.changeTheName(this.inputName)
      /*
       * do this if you want to do something else with the data
       * eg. post it to an endpoint first and then update
       */ 
      // this.$store.dispatch(types.ACTION_CHANGE_NAME, this.inputName)
    },
    ...mapMutations( {
      changeTheName: types.CHANGE_NAME // maps this.changeTheName to store/CHANGE_NAME mutation
    })
  },

  computed: {
    ...mapGetters({
      name: 'name'
    })
  },

  watch: {
    name() {
      this.inputName = this.name
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
