<template>
  <div id="app">
    <Header appName="Basic Vue / Vuex App Sample App"/>
    <HelloWorld />
    
      <h4>Sign up</h4>

    <section v-for="(field, index) in formFields" :key="index">
      <label>{{ field.label }}</label>
      <component :is="field.component" ></component>
    </section>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Header from './components/Header.vue'
import numberField from './components/Number.vue'
import textField from './components/Text.vue'
import submitButton from './components/Submit.vue'

export default {
  name: 'app',
  components: {
    Header,
    HelloWorld,
    numberField,
    textField,
    submitButton
  },

  data () {
    return {
      formFields: [
        {
          component: 'numberField',
          label: 'Enter your age'
        },
        {
          component: 'textField',
          label: 'Enter your name'
        },
        {
          component: 'submitButton',
          label: null
        },
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}

section {
  margin: 0.5rem
}
</style>
